---
title: Welcome!
type: page
section: background
---
<div class="jumbotron"> 
	<h2>Software Engineering for ITE</h2>
	<p>Learn how Software Engineering is done in the real world as you work in a team of students to 
	design, architect, test, and deliver an actual product. Learn and apply established
	and emerging technologies, processes and techniques to all stages of product creation.
	Learn advanced concepts as you apply them in this hands-on, programming intensive course.</p>
	<p>Pito Salas, pitosalas@brandeis.edu</p>
</div>

#### Build a product while learning Software Engineering

This is a programming intensive course where the expectation is that students do much learning on your own and in the lab, of ruby, ruby on rails, html, jQuery and other tools. 

Students will form teams of three or four to design, architect, implement and test a real product. You will be expected to apply good software engineering to this project, and demonstrate the ability to work as a team, navigating the inevitable setbacks and challenges. 

The product ideas will come form one of three sources:
 
1. Products designed during the previous “IT Entrepreneurship” course (235a), 
1. Well thought out and documented product concepts brought to the first day of class, or
1. One of a set of suggested products supplied by the instructors. 

#### Work in teams

Team formation and kickoff will occur in the first 2 weeks of class, with the remaining time organized into 4 sprints of 3 weeks each. At the end of the term there will be an open product showcase with invited outside experts and a prize for the best product.

The aim is to make this course lecture-light and experience heavy. Students will be expected to successfully organize and work in teams, sorting through conflict and priority setting to get to a successful outcome. 

#### Here's what you will learn!

* Key architecture patterns for web appications
* Architecture of the server, the client, and connections between them
* UI and UX design and testing through paper and other prototypes
* Model-View-Controller architectural model
* Agile software development methodology
* Test driven development
* Design appropriate database schemas for a product
* Design web-based (REST) APIs

#### Lab

Cosi 202b is a required (co-requisite) 2 credit companion lab. This lab will meet once a week for two hours and will be handled by at least one instructor. Students will have a chance to program, debug, and get help from peers and instructors during this period.

#### Prerequisites and admission

* This course is also open to undergraduates with permission of the instuctor.
* All students are expected to be good programmers: B+ or better in Cosi 21a.
* If you want to propose a product then you will have to submit a detailed product proposal ahead of time!

##### For more information contact Pito Salas, pitosalas@brandeis.edu
